<h2>These are the Pets looking for home</h2>

<button [routerLink]="['new']">Add a pet to the shelter</button>

<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Type</th> 
    <th>Actions</th> 
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let pet of pets">
    <td>{{pet.Name}}</td>
    <td>{{pet.type}}</td>

    <td>
      <button  [routerLink]="['/pets', pet._id]">Details</button>
      <button  [routerLink]="['edit', pet._id]">Edit</button> 
      <!-- <button  (click)="onButtonDelete(pet._id)">Delete</button> -->
    </td> 
  </tr>
</tbody>
</table>